body {
 padding: 0;
 margin: 0 160px;
 font-family: 'Martel Sans', 'Arial', sans-serif;
 max-width: 1024px;
}

.header {
  background-color: #D0C1D0;
  padding: 10px 0 0 20px;
  display: flex;
  align-items: center;
} 

.avatar {
  height: 275px;
  width: 296px;

}

.contacts-container {
  width: 100%;
  
}

.name {
  font-size: 42px;
  padding: 20px 0 20px 40px;
  text-align: left;
  background-color: #93C5D0; 
  }
  
.contacts-list {
    margin: 0;
    list-style: none;
    text-align: left;
    padding-left: 120px;
  }
 
  .my-data {
    display: flex;
    flex-direction: column;
  }
  
   .heading {
     color: #0891D0;
   }
  